header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 98px; */
    /* margin: 25px auto 48px auto; */
    max-width: 1280px;
    /* background-color: white; */
}

.logo {
    width: 200px;
    border-radius: 10px;
}
header input {
    background-color: white;
    color: grey;
    width: 250px;
    border-radius: 5px;
}

.navbar, .logo {
    margin: 0;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 250px;
}