.menu {
    width: 150px;
    margin: 0;
}
.menu h2 {
    margin: 0;
}
.menu ul {
    padding: 0;
    margin-top: 15px;
}
.menu a {
    color: white;
}
.menu a:hover {
    color: white;
    text-decoration: underline;
}


@media all and (max-width: 800px) {
    
    .menu {
        width: 15%;
    }
}

@media all and (max-width: 600px) {
    .menu {
        display: none;
    }
}