
.searchResults {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.searchResults img, .searchResults h3, .searchResults .result {
    width: 220px;
}

.searchResults img {
    height: 330px;
}

.searchResults .result {
    height: 380px;
    margin: 0 5px 0 5px;
}
.searchResults h3 {
    font-size: 13px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.searchResults h4 {
    font-weight: normal;
    /* text-align: center; */
    font-size: 13px;
}
.searchResults a {
    color: white;
}
.result:hover {
    color: rgb(212, 208, 208);
}

.pagesNavigate {
    margin-top: 20px;
    display: flex;
    position: relative;
    align-items: center;
}
.pagesNavigate .previous {
    position: absolute;
    left: 0;
}
.pagesNavigate .next {
    position: absolute;
    right: 0;
}
.pagesNavigate button{
    width: 110px;
}

@media (max-width: 600px) {
    .result {
        display: flex;
        border-bottom: 1px solid grey;
    }
    .searchResults img {
        width: 50px;
        height: 75px;
    }
    .searchResults .result {
        height: 95px;
        width: 100%;
    }
    .trendMovie {
        height: 95px;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .titleDate {
        height: 90px;
        margin: 0;

        padding: 10px 0 0 10px;
    }
    .pagesNavigate button{
        font-size: 12px;
        width: 100px;
    }
    .titleDate {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 70px;
    }
    .searchResults h4 {
        margin: 0;
    }
  }